<div class="Comment">
 <div  class="image-box">
  <% if comment_in_the_partial.image.present? %>
   <%= image_tag comment_in_the_partial.image, class: "img-setting img-responsive center-block" %>
  <% end %>
 </div>
 <h5> <%= comment_in_the_partial.body %></h5>
 <%= link_to 'Edit Comment', edit_topic_post_comment_path(@topic, post_in_partial, comment_in_the_partial), class: "btn btn-primary" %>
 <%= link_to "Delete", topic_post_comment_path(@topic, post_in_partial, comment_in_the_partial), method: :delete, data: { confirm: "Delete?" }, class: "btn btn-info" %>

</div>


